server:
  port: 8081
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      probes:
        enabled: true

spring:
  lifecycle:
    timeout-per-shutdown-phase: 20s
  application:
    name: product-service
  mvc:
    problem-details:
      enabled: true
  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST:localhost}:27017/${MONGO_DATABASE:product_db}?authSource=admin
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 5s
      connect-timeout: 5s