server:
  port: 8081

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017}/${MONGO_DATABASE:product_db}
    redis:
      host: localhost
      port: 6379